<section id="about" class="about">
  <div class="about-container">
    <img src="assets/profile.jpg" alt="Profile Picture" class="profile-pic" />
    <div class="about-content">
      <h1>Faris Gogić</h1>
      <h2 class="typing-animation"  style="--width: 18ch; --steps: 18;">Software Developer</h2>
      <p>
        I specialize in creating efficient and scalable software solutions. With a focus on web and mobile development, I am dedicated to delivering user-centric applications using modern technologies and best practices.
      </p>
    </div>
  </div>
</section>
